@use "../../scss/globals.scss" as clr;
@use "../../scss/globals.scss" as mq;

.about__container {
  background-color: clr.$black;
  height: 100%;
  width: 100%;
  padding: 10rem 7rem 12rem;
  color: clr.$white;
  border-top: 1px solid #171717;
  z-index: 3;
  margin-top: -5rem;
  position: relative;
  @include mq.desktopXL {
    padding: 10rem 3rem 12rem;
  }
  @include mq.tabletS {
    padding: 7rem 3rem 12rem;
  }
  @include mq.mobileL {
    padding: 7rem 1.5rem 12rem;
  }
  .about__content {
    height: 100%;
    display: flex;
    justify-content: space-between;

    @include mq.desktopXL {
      gap: 2rem;
    }
    @include mq.desktopL {
      gap: 6rem;
    }
    @include mq.tabletL {
      flex-direction: column;
      gap: 0rem;
    }

    .about__left {
      width: 50%;
      position: relative;

      @include mq.tabletL {
        width: 100%;
      }

      .about__h1__mobile {
        font-size: 17vw;
        margin-bottom: 4rem;
        font-family: "Brown-Sugar";
        @include mq.tablet {
          margin-bottom: 2rem;
        }
      }

      .about__h1 {
        font-family: "Brown-Sugar";
        margin-bottom: 2rem;

        @include mq.tabletS {
          margin-bottom: 5rem;
        }

        .a__little {
          font-size: 3rem;
          @include mq.desktopXS {
            font-size: 2rem;
          }
          @include mq.tabletS {
            font-size: 1.5rem;
          }
        }

        .about__me {
          font-size: 6rem;
          line-height: 0.8;
          z-index: 4;

          @include mq.desktopXS {
            font-size: 4rem;
          }
          @include mq.tabletS {
            font-size: 4rem;
          }
          @include mq.mobileL {
            font-size: 14vw;
          }
        }
      }

      .about__image {
        height: 450px;
        width: 550px;
        object-fit: cover;
        border-radius: 0.25em;
        z-index: 5;
        background-image: url("../../../public/images/cvbilde.jpg");
        background-color: red;

        @include mq.desktopL {
          height: 400px;
          width: 500px;
        }
        @include mq.tabletL {
          height: auto;
          width: 35%;
          position: absolute;
          display: block;
          right: 0;
          top: -40px;
          z-index: 0;
        }
        @include mq.tablet {
          top: -60px;
        }
        @include mq.tabletS {
          height: 340px;
          width: 100%;
          position: relative;
        }
        @include mq.mobileL {
          height: 300px;
          background-position: top;
        }
        @include mq.mobileS {
          height: 250px;
        }
      }
    }
    .about__right {
      width: 50%;
      font-family: "GeneralSans-Regular";

      @include mq.tabletL {
        width: 100%;
      }
      @include mq.tablet {
        margin-top: -2rem;
      }

      .quote {
        font-size: 1.5rem;

        @include mq.mobileL {
          font-size: 1.25rem;
        }
      }

      div {
        font-size: 1.5rem;
        margin-bottom: 3rem;
        max-width: 80%;

        @include mq.desktopXS {
          font-size: 1.2rem;
        }
        @include mq.tabletL {
          max-width: 60%;
          margin-bottom: 1.5rem;
          font-size: 1rem;
        }
        @include mq.tabletS {
          max-width: 100%;
          margin-bottom: 1.5rem;
          font-size: 1rem;
        }

        .bg__orangeIsh {
          background-color: clr.$orange-ish;
          padding: 0.1rem 0.3rem;
        }

        .bg__blue {
          background-color: clr.$green;
          padding: 0.1rem 0.3rem;
        }
        .bg__green {
          background-color: clr.$pink;
          padding: 0.1rem 0.3rem;
        }
      }
    }
  }
}
