@use "../../scss/globals.scss" as clr;

.about__container {
  background-color: clr.$black;
  height: 100%;
  width: 100%;
  padding: 10rem 7rem 12rem;
  color: clr.$white;
  .about__content {
    height: 100%;
    display: flex;
    justify-content: space-between;

    .about__left {
      width: 50%;
      .about__h1 {
        font-family: "Brown-Sugar";
        margin-bottom: 4rem;

        .a__little {
          font-size: 3rem;
        }

        .about__me {
          font-size: 8rem;
          line-height: 0.9;
        }
      }

      .about__image {
        height: 450px;
        width: 550px;
        object-fit: cover;
        border-radius: 0.25em;
      }
    }
    .about__right {
      width: 50%;
      font-family: "GeneralSans-Regular";

      div {
        font-size: 2rem;
        margin-bottom: 3rem;
        max-width: 80%;

        .bg__orangeIsh {
          background-color: clr.$orange-ish;
          padding: 0.1rem 0.3rem;
        }

        .bg__blue {
          background-color: clr.$green;
          padding: 0.1rem 0.3rem;
        }
        .bg__green {
          background-color: clr.$pink;
          padding: 0.1rem 0.3rem;
        }
      }
    }
  }
}
