@use "../../../scss/globals.scss" as clr;

.project__container {
  width: 100%;
  min-height: 100dvh;
  padding: 0rem 7rem 2rem;
  font-family: "GeneralSans-Regular";

  .project__content {
    display: flex;
    flex-direction: column;

    .project__landing {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      margin-top: 2rem;
      .project__h1 {
        color: clr.$black;
        font-family: "GrandSlang";
        font-size: 6rem;
        text-transform: uppercase;
      }

      .project__desc__1 {
        font-family: "GeneralSans-Regular";
        // font-family: "GrandSlang";
        font-size: 2.5rem;
        width: 60%;
      }
    }

    .project__details {
      display: flex;
      align-self: center;
      width: 60%;
      justify-content: space-between;
      margin-top: 1rem;

      .details__header {
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 1rem;
      }
    }

    .image__grid {
      gap: 5rem;
      margin-top: 5rem;

      .project__img1,
      .project__img2 {
        width: 100%;
        object-fit: cover;
        max-height: 1000px;
      }

      // .project__desc2,
      // .project__desc3 {
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   padding: 0 8rem;
      //   width: 100%;
      //   // text-wrap: balance;
      // }

      // .project__img1 {
      //   grid-column: 1 / 2;
      //   grid-row: 1 /2;
      // }
      // .project__desc2 {
      //   grid-column: 2 / 3;
      //   grid-row: 1 /2;
      // }
      // .project__img2 {
      //   grid-column: 2 / 3;
      //   grid-row: 3 /4;
      // }
      // .project__desc3 {
      //   grid-column: 1 / 2;
      //   grid-row: 3 /4;
      // }
    }
  }
}
