$primary: #f9f7e8;
$black: #171717;
$white: #fff;
$green: #62bfad;
$red: #e57066;
$dark-grey: #28292b;
$light-green: #aee0bc;
$grey: #5f5f5f;

@font-face {
  font-family: "Brown-Sugar";
  src: url(../assets/fonts/brownsugar.woff2), format("woff2");
}

@font-face {
  font-family: "GeneralSans-Regular";
  src: url(../assets/fonts/GeneralSans-Regular.woff2), format("woff2");
}

.flex {
  display: flex;
}

.hidden {
  visibility: none;
  pointer-events: none;
}
