@use "../../scss/globals.scss" as clr;
@import "../../scss/globals.scss";

.hero__container {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: clr.$primary;
  display: grid;
  place-items: center;
  position: relative;

  .mid__container {
    position: relative;
    width: 70%;
    display: grid;
    place-items: center;
    height: 100%;
    // border: 1px solid red;

    .pattern__container {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      opacity: 0.15;
      max-height: 0;
      max-height: 100vh;
      pointer-events: none;

      .line__container {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: 1rem;

        // &:first-child,
        // &:last-child {
        //   opacity: 0;
        //   visibility: hidden;
        // }

        .line,
        .linetwo {
          width: 1px;
          display: block;
          background: linear-gradient(to bottom, transparent 60%, #808080 50%);
          background-size: 100% 18px;
        }
      }
    }
  }

  .hero__block {
    position: absolute;
    width: 8rem;
    height: 8rem;
    background-color: clr.$green;
    left: 0;
    bottom: 0;
  }

  .bottom__links {
    display: flex;
    gap: 2.5rem;
    font-family: "GeneralSans-Regular";
    color: #686868;
    position: absolute;
    bottom: 2rem;
    right: 4rem;
    cursor: pointer;
  }
  .flex__container {
    display: flex;
    align-items: center;
    margin: auto;
  }

  .hero__content__container {
    width: 100%;
    height: 80%;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.9rem;

    .h1__container {
      color: clr.$black;
      font-family: "Brown-Sugar";
      display: flex;
      flex-direction: column;

      .hero__subheader__small {
        font-family: "GeneralSans-Regular";
      }

      .hero__h1 {
        // font-size: 9rem;
        white-space: nowrap;
        line-height: 0.9;
        font-size: calc(2.4rem + 7vw);
      }

      .hero__subheader {
        font-size: 3rem;
      }
    }

    .hero__info__container {
      display: flex;
      justify-content: space-between;
      padding-top: 2rem;
      font-family: "GeneralSans-Regular";
      color: #777777;
      //   color: clr.$dark-grey;

      p {
        // text-wrap: balance;
        max-width: 200px;
      }
    }
  }
}
