@use "../../scss/globals.scss" as clr;
@use "../../scss/globals.scss" as mq;

.hero__container {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  padding-bottom: 6rem;
  background-color: clr.$primary;
  display: grid;
  place-items: center;
  position: relative;

  .hero__content__container {
    width: 100%;
    height: 100%;
    padding: 8rem 7rem;
    display: grid;
    place-items: center;

    @include mq.desktopXL {
      padding: 8rem 5rem;
    }
    @include mq.desktopL {
      padding: 9rem 3rem;
    }
    @include mq.mobileL {
      padding: 9rem 1.5rem;
    }

    .hero__mid {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 0.9rem;
      height: 80%;
      width: 79%;

      @include mq.desktop {
        height: 75%;
      }
      @include mq.tabletL {
        width: 100%;
      }

      .h1__container {
        color: clr.$black;
        font-family: "Brown-Sugar";
        display: flex;
        flex-direction: column;

        .hero__subheader__small {
          font-family: "GeneralSans-Regular";
        }

        .hero__subheader {
          font-size: 3rem;

          @include mq.desktop {
            font-size: clamp(2rem, 3.5vw, 2.5rem);
          }
        }

        .h1__jakob,
        .h1__tidemand {
          font-size: clamp(4.3rem, 14vw, 8rem);
          line-height: 1;

          @include mq.mobileXS {
            font-size: 18vw;
          }
        }

        .hero__subheader__mobile {
          font-family: "GeneralSans-Regular";
          margin-top: 1rem;
          max-width: 200px;
          font-weight: 700;
        }
        .mobile__time {
          font-family: "GeneralSans-Regular";
          color: #686868;

          padding-top: 8rem;
        }
      }

      .hero__info__container {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
        font-family: "GeneralSans-Regular";
        color: clr.$black;

        p {
          max-width: 200px;
        }
      }
    }
  }
}

.bottom__links {
  display: flex;
  gap: 2.5rem;
  font-family: "GeneralSans-Regular";
  color: clr.$dark-grey;
  position: absolute;
  bottom: 2rem;
  right: 7rem;
  cursor: pointer;
  text-decoration: none;

  @include mq.desktopXL {
    right: 3rem;
  }
  @include mq.mobileL {
    left: 1.5rem;
    flex-direction: column;
    gap: 0.5rem;
  }
}
.flex__container {
  display: flex;
  align-items: center;
  margin: auto;
}

.scroll__down {
  font-family: "GeneralSans-Regular";
  color: #686868;
  position: absolute;
  bottom: 2rem;
  left: 7rem;
  pointer-events: none;
  width: fit-content;

  @include mq.desktopXL {
    left: 3rem;
  }
  @include mq.mobileL {
    margin-left: auto;
    font-size: 0.9rem;
    right: 1.5rem;
  }
}
