@use "../../scss/globals.scss" as clr;

.more__section {
  background-color: black;
  width: 100%;
  height: 1000px;
  margin: auto;
  .more__content {
    padding: 12rem 7rem 2rem;
    color: clr.$white;

    .more__h1 {
      font-family: "Brown-Sugar";
      font-size: 4rem;
      // line-height: 0.8;
    }
  }
}
