@use "../../scss/globals.scss" as clr;

.more__outer {
  position: relative;
  // overflow: hidden;

  .circle__cont {
    position: relative;
    top: 0;
    left: 0;
    height: 0;
    background-color: clr.$black;
    .circle {
      height: 800%;
      width: 150%;
      left: -25%;
      border-radius: 50% 50% 0% 0%;
      background-color: clr.$black;
      position: absolute;
      pointer-events: none;
      bottom: -280%;
      filter: blur(43px);
    }
  }

  .more__section {
    background-color: clr.$primary;
    width: 100%;
    margin: auto;
    position: relative;

    .more__content {
      padding: 8rem 7rem 14rem;
      color: clr.$white;
      transition: opacity 0.5s ease, filter 0.5s ease;
      background-color: clr.$black;
      height: 100%;

      .more__h1 {
        font-family: "Brown-Sugar";
        font-size: 4rem;
        margin-bottom: 4rem;
      }

      .more__flex__container {
        display: flex;
        justify-content: space-between;

        .hover__container {
          width: 50%;
          align-self: center;
        }
        .more__card__container {
          width: 50%;
        }
      }
    }
  }
}
