@use "../../scss/globals.scss" as clr;

.skills__section {
  height: 100%;
  background-color: clr.$black;
  position: relative;
  // overflow: hidden;
  padding-bottom: 44rem;
  width: 100%;
  .hidden {
    display: none;
    pointer-events: none;
  }

  .skills__h1 {
    font-family: "Brown-Sugar";
    color: clr.$white;
    padding: 10rem 7rem 4rem;
    font-size: 7rem;
    line-height: 1;
  }

  .skills__btn__container {
    display: flex;
    padding: 0 7rem 4rem;
    font-size: 0.9rem;
    align-items: center;
    color: clr.$white;
    text-transform: uppercase;
    font-family: "GeneralSans-Regular";

    .view {
      color: clr.$grey-blue;
      padding-right: 1.5rem;
    }

    div {
      padding-right: 0.6rem;
    }
    .checkbox__btn {
      margin-right: 2rem;
      height: 0.8rem;
      width: 0.8rem;
      border: 0.5px solid clr.$white;
      background-color: clr.$black;
      cursor: pointer;
      transition: all 0.4s ease-in;
    }

    .activeClass {
      background-color: clr.$white;
    }
  }
  .marquee__container,
  .readable__container {
    position: absolute;
    top: 60;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
  }

  .marquee__container {
    .hidden {
      display: none;
    }

    .rowWrapper {
      position: relative;
      display: flex;

      width: 100%;
    }

    .row__container {
      display: flex;
      width: 100%;
      height: 4rem;

      &:nth-child(2) {
        position: absolute;
        left: 100%;
      }
      &.leftNegative:nth-child(2) {
        left: -100%;
      }
    }

    .column {
      height: 100%;

      &.blue {
        background-color: clr.$blue;
      }
      &.green {
        background-color: clr.$green;
      }
      &.orange-ish {
        background-color: clr.$orange-ish;
      }
      &.dark-blue {
        background-color: clr.$dark-blue;
      }
      &.black {
        background-color: clr.$black;
      }
      &.yellow {
        background-color: clr.$yellow;
      }
      &.white {
        background-color: clr.$white;
      }
      &.dark-grey {
        background-color: clr.$dark-grey;
      }
      &.light-green {
        background-color: clr.$light-green;
      }
      &.grey {
        background-color: clr.$grey;
      }
      &.cream {
        background-color: clr.$cream;
      }
      &.orange {
        background-color: clr.$orange;
      }
      &.red {
        background-color: clr.$red;
      }
      &.pink {
        background-color: clr.$pink;
      }
      &.teal {
        background-color: clr.$teal;
      }
      &.brown {
        background-color: clr.$brown;
      }
      &.grey-blue {
        background-color: clr.$grey-blue;
      }
    }

    .centered__word {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-family: "GeneralSans-Regular";
      text-transform: uppercase;
    }
  }

  .readable__container {
    color: clr.$white;
    background-color: clr.$black;
    padding: 0 7rem;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-family: "GeneralSans-Regular";

    .readable__flex {
      display: flex;
      gap: 8rem;

      .readable__category {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
    }
  }
}

// @use "../../scss/globals.scss" as clr;

// .skills__section {
//   height: 100%;
//   background-color: clr.$black;
//   position: relative;
//   padding-bottom: 44rem;
//   width: 100%;

//   .hidden {
//     display: none;
//     pointer-events: none;
//   }

//   .skills__h1 {
//     font-family: "Brown-Sugar";
//     color: clr.$white;
//     padding: 10rem 7rem 4rem;
//     font-size: 7rem;
//     line-height: 1;
//   }

//   .skills__btn__container {
//     display: flex;
//     padding: 0 7rem 4rem;
//     font-size: 0.9rem;
//     align-items: center;
//     color: clr.$white;
//     text-transform: uppercase;
//     font-family: "GeneralSans-Regular";

//     .view {
//       color: clr.$grey-blue;
//       padding-right: 1.5rem;
//     }

//     div {
//       padding-right: 0.6rem;
//     }
//     .checkbox__btn {
//       margin-right: 2rem;
//       height: 0.8rem;
//       width: 0.8rem;
//       border: 0.5px solid clr.$white;
//       background-color: clr.$black;
//       cursor: pointer;
//     }

//     .active {
//       background-color: clr.$white;
//     }
//   }

// .marquee__container,
// .readable__container {
//   // position: absolute;
//   // top: 60;
//   // left: 0;
//   width: 100%;
//   height: 100%;
//   will-change: transform;
// }

// .marquee__container {
//   .hidden {
//     display: none;
//   }

//   .rowWrapper {
//     position: relative;
//     display: flex;
//     width: 100%;
//     overflow: hidden;
//     border: none;
//   }

//   .row__container {
//     display: flex;
//     width: 100%;
//     height: 4rem;
//     border: none;

//     &:nth-child(2) {
//       position: absolute;
//       left: 100%;
//     }

//     animation-duration: 30s;
//     animation-timing-function: linear;
//     animation-iteration-count: infinite;
//   }

//   .column {
//     height: 100%;

//     &.blue {
//       background-color: clr.$blue;
//     }
//     &.green {
//       background-color: clr.$green;
//     }
//     &.orange-ish {
//       background-color: clr.$orange-ish;
//     }
//     &.dark-blue {
//       background-color: clr.$dark-blue;
//     }
//     &.black {
//       background-color: clr.$black;
//     }
//     &.yellow {
//       background-color: clr.$yellow;
//     }
//     &.white {
//       background-color: clr.$white;
//     }
//     &.dark-grey {
//       background-color: clr.$dark-grey;
//     }
//     &.light-green {
//       background-color: clr.$light-green;
//       width: 100%;
//     }
//     &.grey {
//       background-color: clr.$grey;
//     }
//     &.cream {
//       background-color: clr.$cream;
//     }
//     &.orange {
//       background-color: clr.$orange;
//     }
//     &.red {
//       background-color: clr.$red;
//     }
//     &.pink {
//       background-color: clr.$pink;
//       width: 100%;
//     }
//     &.teal {
//       background-color: clr.$teal;
//       width: 100%;
//     }
//     &.brown {
//       background-color: clr.$brown;
//     }
//     &.grey-blue {
//       background-color: clr.$grey-blue;
//     }
//   }

//   .centered__word {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
//     font-family: "GeneralSans-Regular";
//     text-transform: uppercase;
//   }
// }

// .readable__container {
//   color: clr.$white;
// }

// @keyframes marqueeRightToLeft {
//   0% {
//     transform: translateX(0%);
//   }
//   100% {
//     transform: translateX(-100%);
//   }
// }

// @keyframes marqueeLeftToRight {
//   0% {
//     transform: translateX(0%);
//   }
//   100% {
//     transform: translateX(100%);
//   }
// }

// .skills__section .marquee__container .rowWrapper .row__container {
//   animation-duration: 32s;
//   animation-timing-function: linear;
//   animation-iteration-count: infinite;
// }

// .skills__section .marquee__container .rowWrapper .row__container.rightToLeft {
//   animation-name: marqueeRightToLeft;
// }

// .skills__section .marquee__container .rowWrapper .row__container.leftToRight {
//   animation-name: marqueeLeftToRight;
//   left: -100%;
// }
