@use "../../../scss/globals.scss" as clr;
@use "../../../scss/globals.scss" as mq;

.selected__card {
  width: 100%;
  font-family: "GeneralSans-Regular";
  cursor: pointer;
  display: flex;
  flex-direction: column;
  z-index: -1;

  .selected__video {
    width: 100%;
    filter: none;
    z-index: -1;
  }

  .selected__card__info {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    margin-top: 0.5rem;
    transition: all 0.5s ease-in;
    padding: 0 0.25rem;

    .selected__number__container {
      display: flex;
      font-size: 0.8rem;
      justify-content: space-between;
    }

    .selected__project__title {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
    .view__more__btn {
      font-size: 0.9rem;
      padding-top: 4rem;
    }
  }
}
