@use "../../../scss/globals.scss" as clr;
@use "../../../scss/globals.scss" as mq;

.selected__card {
  width: 100%;
  font-family: "GeneralSans-Regular";
  cursor: pointer;
  display: flex;
  z-index: -1;
  gap: 12rem;
  justify-content: flex-end;
}

.selected__video {
  width: 33%;
  filter: none;
  z-index: -1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 19px 0px;
}

.selected__card__info {
  width: 46%;
  transition: all 0.5s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .selected__project__title {
    font-size: 1.5rem;
    line-height: 0.9;
    text-transform: uppercase;
    font-weight: 600;
  }
  .selected__project__desc {
    font-size: 1rem;
    margin-top: -8rem;
  }
  .view__more__btn {
    font-size: 1rem;
    line-height: 0.9rem;
  }
}
.selected__number__container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 20%;
  align-items: flex-end;
  text-transform: uppercase;

  .selected__number {
    line-height: 0.9;
    font-size: 1.5rem;
  }

  .selected__type {
    font-size: 1rem;
  }
}
