@use "../../../scss/globals.scss" as clr;

.nav {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 1rem 7rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "GeneralSans-Regular";
  overflow: hidden;
  color: clr.$black;
  filter: blur(20px);

  .nav__menu {
    display: flex;
    gap: 2rem;

    li {
      list-style: none;
    }
  }
}
