@use "../../scss/globals.scss" as clr;
@use "../../scss/globals.scss" as mq;

.selected__container {
  width: 100%;
  height: 180vh;
  background-color: clr.$primary;
  position: sticky;
  bottom: 0;
  display: grid;
  place-items: center;
  transition: all 0.8s;
  padding-bottom: 6rem;
  z-index: 2;

  a {
    text-decoration: none;
    color: inherit;
  }

  .selected__content__container {
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    height: 100%;
    padding: 2rem 7rem 2rem;

    @include mq.desktopXL {
      padding: 2rem 3rem 2rem;
    }
    @include mq.mobileL {
      padding: 2rem 1.5rem 2rem;
    }
    .selected__h1 {
      display: flex;
      flex-direction: column;
      font-family: "Brown-Sugar";
      margin: 8rem 0 8rem;
      gap: 0.3rem;

      span {
        font-size: 3rem;
        @include mq.desktopXS {
          font-size: 2rem;
        }
        @include mq.tabletS {
          font-size: 1.5rem;
        }
      }

      .selected__work {
        font-size: 8rem;
        line-height: 0.8;

        @include mq.desktopXS {
          font-size: 6rem;
        }
        @include mq.tabletS {
          font-size: 4rem;
        }
        @include mq.mobileL {
          font-size: 14vw;
        }
      }
      .selected__amount {
        font-size: 1.5rem;
        @include mq.tabletS {
          font-size: 1rem;
        }
      }
    }

    .selected__projects__container {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      gap: 18rem;

      @include mq.desktopXS {
        flex-direction: column;
        gap: 10rem;
      }
      @include mq.tabletS {
        gap: 5rem;
      }

      .transition__link {
        text-decoration: none;
        height: 500px;
      }

      .selected__card__1,
      .selected__card__2 {
        text-decoration: none;
        color: inherit;
      }

      // .card__group__2 {
      //   margin-top: 28rem;
      //   @include mq.desktopXS {
      //     margin-top: 2rem;
      //   }
      // }

      // .card__group__1,
      // .card__group__2 {
      //   width: 650px;
      //   height: 500px;

      //   @include mq.desktopXXL {
      //     width: 600px;
      //     height: 470px;
      //   }
      //   @include mq.desktopXL {
      //     width: 550px;
      //     height: 470px;
      //   }
      //   @include mq.desktop {
      //     width: 470px;
      //   }
      //   @include mq.desktopXS {
      //     width: 100%;
      //     // margin-top: 2rem;
      //   }
      // }
    }
  }
}
