@use "../../../scss/globals.scss" as clr;
@use "../../../scss/globals.scss" as mq;

.button__nav {
  position: fixed;
  top: 2rem;
  right: 3rem;
  height: 84px;
  width: 84px;
  border-radius: 50%;
  background-color: clr.$dark-grey;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  border: none;
  scale: 0;
  transition: scale 0.3s cubic-bezier(0.76, 0, 0.24, 1);

  @include mq.desktopXL {
    right: 3rem;
    height: 74px;
    width: 74px;
  }
  @include mq.tabletL {
    height: 68px;
    width: 68px;
  }
  @include mq.mobileL {
    right: 1.5rem;
    height: 62px;
    width: 62px;
  }

  .burger {
    width: 100%;
    z-index: 7;

    &::after,
    &::before {
      content: "";
      background-color: clr.$white;
      height: 1px;
      width: 40%;
      display: block;
      margin: auto;
      position: relative;
      transition: all 0.3s;
    }
    &::after {
      top: -5px;
    }
    &::before {
      top: 5px;
    }
  }

  .burger__active::before {
    transform: rotate(-45deg);
    top: 1px;
    background-color: clr.$black;
  }
  .burger__active::after {
    transform: rotate(45deg);
    top: -1px;
    background-color: clr.$black;
  }

  .burger__hover::after,
  .burger__hover::before {
    transition: all 0.1s ease;
    width: 30%;
  }

  .active__circle {
    height: 150%;
    width: 155%;
    background-color: clr.$cream;
    position: absolute;
    right: -28%;
    top: 100%;
    border-radius: 50%;
    z-index: 5;
  }
}

.show__btn {
  scale: 1;
}
